<ion-toolbar>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button (click)="navigateToHome()">
        <ion-icon name="home-outline"></ion-icon>
      </ion-tab-button>
      <ion-tab-button (click)="navigateToReservation()">
        <ion-icon name="document-text-outline"></ion-icon>
        <ion-badge>1</ion-badge>
      </ion-tab-button>
      <ion-tab-button (click)="navigateToChat()">
        <ion-icon name="chatbubble-outline"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-toolbar>
