<!-- provider-profile.page.html -->
<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Profil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="profile-header">
    <div class="profile-avatar-container">
      <div class="profile-avatar">
        <img [src]="provider.avatar" alt="Avatar">
        <div class="edit-button">
          <ion-icon name="pencil"></ion-icon>
        </div>
      </div>
    </div>

    <div class="profile-info">
      <h2>{{ provider.name }}</h2>
    </div>

    <div class="provider-stats">
      <!-- First row -->
      <div class="stats-row">
        <div class="stats-card">
          <div class="stats-top">
            <div class="stats-value">{{ provider.totalEarnings }}</div>
            <div class="stats-icon">
              <ion-icon name="wallet-outline"></ion-icon>
            </div>
          </div>
          <div class="stats-label">Total des travaux (Ar)</div>
        </div>

        <div class="stats-card">
          <div class="stats-top">
            <div class="stats-value">{{ provider.totalServices }}</div>
            <div class="stats-icon list-icon">
              <ion-icon name="list-outline"></ion-icon>
            </div>
          </div>
          <div class="stats-label">Total des Services</div>
        </div>
      </div>

      <!-- Second row -->
      <div class="stats-row">
        <div class="stats-card">
          <div class="stats-top">
            <div class="stats-value">{{ provider.rating }}</div>
            <div class="stats-icon star-icon">
              <ion-icon name="star"></ion-icon>
            </div>
          </div>
          <div class="stats-label">Avis</div>
        </div>

        <div class="stats-card">
          <div class="stats-top">
            <div class="stats-value">{{ provider.hourlyRate }}</div>
            <div class="stats-icon">
              <ion-icon name="pricetag-outline"></ion-icon>
            </div>
          </div>
          <div class="stats-label">Prix actuel du service</div>
        </div>
      </div>
    </div>
  </div>

  <div class="profile-menu">
    <ion-list lines="full">
      <ion-item *ngFor="let item of menuItems" detail (click)="navigateTo(item.route)">
        <ion-icon slot="start" [name]="item.icon" color="medium"></ion-icon>
        <ion-label>{{ item.title }}</ion-label>
        <ion-icon slot="end" name="chevron-forward-outline" color="medium"></ion-icon>
      </ion-item>
    </ion-list>
  </div>

  <div class="logout-button-container">
    <ion-button expand="block" fill="clear" color="primary" (click)="logout()">
      Se déconnecter
    </ion-button>
  </div>
</ion-content>

<ion-footer>
  <app-tab-worker></app-tab-worker>
</ion-footer>
