<!-- chat-detail.component.html -->
<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>{{ contactName }}</ion-title>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="chat-container">
    <div *ngFor="let message of messages"
         [ngClass]="{'message-wrapper': true, 'my-message': message.sent, 'other-message': !message.sent}">

      <div *ngIf="!message.sent" class="avatar-container">
        <ion-avatar>
          <img [src]="contactAvatar" alt="Contact avatar">
        </ion-avatar>
      </div>

      <div class="message-bubble">
        <div class="message-text">{{ message.text }}</div>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer>
  <div class="input-container">
    <button class="emoji-button">
      <ion-icon name="happy-outline"></ion-icon>
    </button>

    <ion-input
      placeholder="Écrire un message..."
      [(ngModel)]="newMessage"
      (keyup.enter)="sendMessage()"
    ></ion-input>
    <button class="attachment-button" (click)="sendMessage()">
      <ion-icon name="paper-plane-outline"></ion-icon>
    </button>
    <button class="attachment-button">
      <ion-icon name="attach-outline"></ion-icon>
    </button>
  </div>
</ion-footer>
